/* app/layout.module.css */
.body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc; /* El mismo color que en theme.background.default */
  }
  
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
  